@import "../Application.less";
@import "./MainHeader";

.header-user {
  position: relative;

  .content {
    position: absolute;
    top: @headerHeight;
    right: 0;
    background: white;
    border: 1px solid lightgray;
    padding: 15px;
  }
}