@import "../Application.less";

@headerColor: white;
@headerHeight: 40px;

.header {
  @headerSectionSpacing: 10px;
  z-index: 100;

  position: sticky;
  top: 0;
  height: @headerHeight;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  background-color: @headerColor;

  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  #std.dynamic-text-color(@headerColor);

  .left-section {
    .section-common;

    //.logo {
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //
    //  p {
    //    color: rgba(111, 9, 9, 0.69);
    //    font-size: 20pt;
    //    font-weight: 600;
    //  }
    //}
  }

  .central-section {
    flex-grow: 1;
    .section-common
  }

  .right-section {
    .section-common
  }

  .section-common {
    align-items: center;
    display: flex;
    column-gap: @headerSectionSpacing;
    padding-left: @headerSectionSpacing;
    padding-right: @headerSectionSpacing;
    #std.dynamic-text-color(@headerColor);
  }
}