.account-settings-root {

  .credentials-root {

    .credentials-segment-root {

      .credentials-segment-container {
        row-gap: 20px;

        & .credentials-segment {
          height: 100%;
        }
      }
    }

  }

}