.credentials-segment {

}

.google-credentials-segment {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  & > div {
    flex-grow: 1 !important;
  }

  .text {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.basic-credentials-segment {
  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}