@primary-font-size: 16px;
@base-font-color: black;
@base-font-size: 14px;
@base-line-height: 1.15;
@base-font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
@secondary-font-color: #545454;
@secondary-font-size: 12px;

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

//* {
//  flex: 0 0 auto;
//}

#std() {
  .dynamic-text-color(@color) {
    color: contrast(@color, black, white, 50%);
  }
  .fill-height {
    flex: 1;
  }
}

body {
  margin: 0;
  font-size: @base-font-size;
  font-family: @base-font-family;
  line-height: @base-line-height;
}
