@import "../Application.less";

.login-form-root-container {
  @flex-elements-gap: 20px;

  //&.stretch {
  //  display: flex;
  //  flex-direction: column;
  //  flex: 1;
  //}

  & > div label {
    margin-bottom: 0;
  }
  & > div > label {
    color: @secondary-font-color;
    font-size: @secondary-font-size;
    margin-bottom: 0;
  }

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: @flex-elements-gap;

  .username-block {

  }

  .password-block {

  }

  .remember-me-block {
    display: flex;
    & > div:first-child {
      flex-grow: 1;
    }
  }

  .login-block {
    display: flex;
    flex-direction: column;
    gap: @flex-elements-gap;
  }
}