.register-user-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .register-user-form-container {
    padding: 40px;
    max-width: 400px;
    width: 100%;
  }
}